* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #FFEFE4;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    height: 85px;
}

.page-header .container {
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
}

.nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.nav__link:hover {
    color: #0E5E6F;
    border-color: #0E5E6F;
}

.banner {
    height: 510px;
    background-image: url(../pictures/banner.jpg);
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.banner__title {
    font-size: 57px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Dancing Script', cursive;
}
.banner__title span {
    text-decoration: underline;
    font-weight: 900;
}
.banner__text {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.6;
}

.footer {
  padding: 2em 0;
  text-align: center;
}

.footer__text {
    color: #0E5E6F;
    font-size: 0.8rem;
}
