@import '../settngs/reset';
@import '../settngs/variables';
@import '../settngs/rwd';

body {
  font-family: $font-basic;

  a {
    text-decoration: none;
  }
}

.slideshow-container {
  position: relative;
  left: 0;
  max-width: 100vw;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: $color-basic;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: $color-basic;
  }
  /* Caption text */
  .text {
    color: $color-coffee;
    font-family: $font-decoration;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
    font-weight: 900;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
}

