@import '../settngs/variables';
@import '../settngs/rwd';



.short__information {
    .box {
        display: flex;
        flex-direction: column;
    }
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: $color-blue;
    color: $color-basic;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;

    .active, .collapsible:hover {
        background-color: $color-blue;
    }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }
}
